<h1>List of Brands</h1>

<ul>
  <% @brands.each do |brand| %>
    <li>
    <%= link_to brand.brand_name, brand_path(brand)  %>
    <% end %> </li>
</ul>

<div><%= link_to 'Create Brand', new_brand_path %></div>