<h1>Add a New Brand</h1>
<%= form_with model: @brand do |form| %>
    <p> Brand Name: <%= form.text_field :brand_name, :required => true %></p>
    <p> Image url: <%= form.text_field :logo_url %></p>
  
    <%= form.submit %>
  <% end %>