<h1>List of Products</h1>
<ul><% @products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product) %>
  <% end %></li>
</ul>

<div><%= link_to 'Create Product', new_product_path %></div>
<div><%= link_to 'View Brands', brands_path %></div>